body {
  font-family: Arial;
  margin: 0;
  background: #f2f2f2;
}

header {
  background: #0b3c5d;
  color: white;
  padding: 40px;
  text-align: center;
}

.btn {
  background: #25D366;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 15px;
  font-weight: bold;
}

section {
  background: white;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
}

footer {
  background: #0b3c5d;
  color: white;
  text-align: center;
  padding: 15px;
}

.galeria {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.galeria img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

